.first{
    margin-top: 50px;
    background-color: crimson;
    padding-top: 50px;
}
.second{
    padding-top: 50px;
    margin-top: 50px;
}

.three{
    border-style: solid;
    border-color: blueviolet;
    background-color:blueviolet;
    margin: 30px;
}
.for{
    border-color: blue ;
    background-color:blue;
    border-style: solid;
    margin: 50px 40px 30px;
}

#a1{
    border-color:transparent;
    border-style: solid;
    border-width:20px;
}
#s2{
    border-color:aqua;
   border-style: dotted; 
   border-width:20px;
}
#d3{
    border-color:#cacd58;
    border-style:dashed;
    border-width:10px;
}
#f4{
    border-color:initial;
    border-style:double;
    border-width:15px;
    
}
#g5{
    border-color:inherit;
    border-style:groove;
}
#h6{
    border-style:inset;
}
#j7{
    border-style:outset;
}
#k8{
    border-style:ridge;
}
#l9{
    border-top-width:5px;
     border-right-width:7px;
      border-bottom-width:4px;
       border-left-width: 2px;
    border-style: solid dotted none dotted;
    border-color: blue red yellow brown;
}